node_modules
.next
.git
coverage
.env
.env.*
!.env.production-local
docs
jest.config.js
jest.setup.js
jsconfig.json
eslint.config.mjs
postcss.config.mjs
tailwind.config.js
components.json
README.md
.swc
.github
public/favicon.ico
public/icon.png
